// COLORS
$primary-color: #0a0b0a;
$secondary-color: #efefd2;
$border-color: #32312e;
$tertiary-color: #111111;
$color-white: #fff;

//BORDER

$default-border: #efe7d226;

$text-color: #afada8;

$background-color: $primary-color;

// FONTS
$primary-font: "Satoshi", sans-serif;
$secondary-font: "Forum", serif;

// GLOBALS
$border-radius: 1.6rem;
