.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &-primary {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $secondary-color;
    padding: 1.2rem;
    font-weight: 300;
    background-color: $tertiary-color;
    border: 1px solid $border-color;
    border-radius: 8px;
  }

  &-icon {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: $tertiary-color;
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &.sm {
      height: 3.2rem;
      width: 3.2rem;
    }

    svg {
      font-size: 1.8rem;
    }
  }
}
