* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  font-family: $primary-font;
  box-sizing: border-box;
  background-color: $background-color;
  color: rgba(245, 242, 234, 0.7);
  font-weight: 400;
  line-height: 1.6;
  margin: 2.4rem;
  overflow-x: hidden !important;

  @include respond(phone) {
    margin: 1.4rem;
  }
}
