@font-face {
  font-family: 'Satoshi', sans-serif;
  src: url('/assets/fonts/satoshi-variable.ttf');
}

@font-face {
  font-family: 'Forum', serif;
  src: url('/assets/fonts/forum-regular.ttf');
}

.heading-primary {
  font-family: $secondary-font;
  font-size: 14rem;
  line-height: 1;
  letter-spacing: 3px;
  color: $secondary-color;
  font-weight: 400;
}
