@font-face {
  font-family: "Satoshi", sans-serif;
  src: url("/assets/fonts/satoshi-variable.ttf");
}

@font-face {
  font-family: "Forum", serif;
  src: url("/assets/fonts/forum-regular.ttf");
}

.heading-primary {
  font-family: $secondary-font;
  font-size: 14rem;
  line-height: 1;
  letter-spacing: 3px;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: lighter;
  animation: moveinright all 0.4s;
  -webkit-animation: moveinright all 0.4s;
  @include respond(tab-land) {
    font-size: 8rem;
    position: absolute;
    bottom: 10%;
  }

  @include respond(tab-port) {
    font-size: 6rem;
  }

  @include respond(phone) {
    font-size: 4rem;
  }

  @include respond(phone-medium) {
    font-size: 3.5rem;
  }
}

.body-heading {
  font-family: $secondary-font;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: lighter;

  @include respond(tab-land) {
    font-size: 1rem;
  }
}
