.pin {
  height: 2.6rem;

  @include respond(phone) {
    height: 2.6rem;
  }

  img {
    height: 100%;
    width: 100%;
  }

  @include respond(phone-medium) {
    height: 2rem;
  }

  @include respond(phone-small) {
    display: none;
  }
}

img.pin.sml {
  width: 1.8rem;

  img {
    height: 100%;
    width: 100%;
  }

  @include respond(phone-medium) {
    height: 1.5rem;
  }
}

p {
  line-height: 2.8rem;
  font-family: $secondary-font;
}
