main {
  display: flex;
  gap: 1.6rem;
  overflow: hidden;
  position: relative;

  .header.contact {
    height: calc(100vh - 4.8rem);
    background-image: url("/assets/images/hero-5.jpg");
    flex: 1.2;
    height: 100vh;
    position: sticky;

    @include respond(tab-land) {
      height: 100vh;
    }

    @include respond(phone-medium) {
      background-position: left;
    }
  }

  @include respond(tab-land) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  @include respond(tab-land) {
    height: auto;
  }

  .contact {
    flex: 1;
    overflow-y: scroll;

    @include respond(tab-land) {
      overflow-y: hidden;
    }

    @include respond(phone) {
      margin-top: 5rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .contact_textbox {
      .contact_heading-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
        width: 100%;
      }

      .contact_paragraph {
        color: $secondary-color;
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }
}
