main {
  display: flex;
  gap: 1.6rem;
  overflow: hidden;
  position: relative;

  .header.reservation {
    height: calc(100vh - 4.8rem);
    background-image: url("/assets/images/hero-3.jpg");
    flex: 1.2;
    height: 100vh;
    position: sticky;

    @include respond(tab-land) {
      height: 100vh;
    }
  }

  @include respond(tab-land) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  @include respond(tab-land) {
    height: auto;
  }

  .reservation {
    flex: 1;
    overflow-y: scroll;
    @include respond(tab-land) {
      overflow-y: hidden;
    }

    .reservation_textbox {
      text-align: center;
      margin: 5rem;

      .reservation_heading-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
      }

      .reservation_paragraph {
        color: $secondary-color;
        font-size: 1.8rem;
        font-weight: 300;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
