main {
  display: flex;
  gap: 1.6rem;
  overflow: hidden;
  position: relative;

  .header.reservation {
    height: calc(100vh - 4.8rem);
    background-image: url("/assets/images/hero-3.jpg");
    flex: 1.2;
    height: 100vh;
    position: sticky;

    @include respond(tab-land) {
      height: 100vh;
    }
  }

  @include respond(tab-land) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  @include respond(tab-land) {
    height: auto;
  }

  .reservation {
    flex: 1;
    overflow-y: scroll;

    @include respond(tab-land) {
      overflow-y: hidden;
      margin: 5rem 0;
    }

    .reservation_textbox {
      text-align: center;
      margin: 5rem;

      .reservation_heading-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
      }

      .reservation_paragraph {
        color: $secondary-color;
        font-size: 1.8rem;
        font-weight: 300;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      width: 50%;
      margin: 0 auto;
      background-color: transparent;

      input {
        background-color: transparent;
        padding: 1.6rem;
        border: none;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      .br {
        color: $secondary-color;
        font-size: 1.4rem;
        padding: 1.6rem;
        border: 1px solid $border-color;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .form-options {
        width: 100%;
        display: flex;
        gap: 1.5rem;
        justify-content: center;

        .form-option {
          input.option {
            width: 100%;
          }
        }
      }
    }
  }
}
