.navigation {
  position: absolute;
  top: 7rem;
  left: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem;
  border-radius: 1.2rem;
  background-color: $primary-color;
  position: fixed;

  z-index: 10;

  @include respond(tab-land) {
    top: 5rem;
    left: 5rem;
  }

  @include respond(phone-medium) {
    top: 4rem;
    left: 4rem;
  }

  .logo {
    width: 12rem;

    @include respond(tab-port) {
      width: 8rem;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    li {
      list-style: none;

      .nav-item {
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $secondary-color;
        padding: 1.2rem;
        font-weight: 300;

        @include respond(phone) {
          font-size: 1rem;
        }

        @include respond(phone-medium) {
          padding: 0.5rem;
        }
      }
    }
  }
}
